<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootvue.core.mapper.UserMenuMapper">
  <resultMap id="BaseResultMap" type="com.bootvue.core.entity.UserMenu">
    <!--@mbg.generated-->
    <!--@Table user_menu-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="actions" jdbcType="VARCHAR" property="actions" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_id, menu_id, actions
  </sql>
</mapper>